body {
    margin: 0;
    text-align: center;
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(53, 53, 109);
    width: 700px;
    height:500px;
    margin: 0 auto;
    margin-top: 50px;
}

button {
    background: none;
    width:55px;
    height: 55px;
    border-radius: 5px;
    color: #EEEEEE;
    border: solid 2px white;

}

h3 {
color: #EEEEEE;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 700;
font-size: 40px;
line-height: 35.89px;
text-align: center;
}